@import "tailwindcss";
@plugin "daisyui" {
  themes: luxury --default;
}

/* add safe-area */
html {
  margin-top: env(safe-area-inset-top);
  margin-bottom: env(safe-area-inset-bottom);
  margin-left: env(safe-area-inset-left);
  margin-right: env(safe-area-inset-right);
}
