@import "tailwindcss";
@plugin "daisyui" {
  themes: luxury --default;
}

/* add safe-area */
html {
  margin-top: env(safe-area-inset-top);
  margin-bottom: env(safe-area-inset-bottom);
  margin-left: env(safe-area-inset-left);
  margin-right: env(safe-area-inset-right);
}

@layer utilities {
  /* Override Tailwind's h-screen/w-screen to ignore safe areas */
  .h-screen {
    height: calc(100dvh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  }
  .min-h-screen {
    min-height: calc(100dvh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  }
  .w-screen {
    width: calc(100dvw - env(safe-area-inset-left) - env(safe-area-inset-right));
  }
}
